@model List<ITCapstoneQuery.Data.users>
@{
    ViewData["Title"] = "All Customer Information";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <th>@item.id</th>
                <td>@item.username</td>
                <td>@item.email</td>
                <td>@item.password</td>
            </tr>
        }
    </tbody>
</table>
